
<!-- Services Section -->
    <section id="accounting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">会計報告</h2>
                    <h3 class="section-subheading text-muted">
                        私たちの活動は寄付により<br>
                        支えられております。<br>
                        主な使用用途は、会場費、通信費、<br>
                        教材と備品の購入です。<br>
                        よりよい活動のために使わせていただきます。
                    </h3>
                </div>
            </div>
            <div class="row text-left" display="none">
                賛助会員としての支援が可能です。PayPalのビジネスアカウントを登録・審査通過の上で利用しています。PayPalでの寄付金の募集はできませんが、会員会費の徴収は可能であることから、単発や定期的に支援をして下さる賛助会員を募集しております。
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MQRUUVF3964QJ">
                <table>
                <tr><td><input type="hidden" name="on0" value="会費:単発">会費:単発</td></tr><tr><td><select name="os0">
                    <option value="A">A ¥100 JPY</option>
                    <option value="B">B ¥200 JPY</option>
                    <option value="C">C ¥300 JPY</option>
                    <option value="D">D ¥500 JPY</option>
                    <option value="E">E ¥1,000 JPY</option>
                    <option value="F">F ¥2,000 JPY</option>
                    <option value="G">G ¥5,000 JPY</option>
                    <option value="H">H ¥10,000 JPY</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="JPY">
                <input type="image" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
                <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
            <div class="row text-right">
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzpg-iCUegEjDX_ziOQllZlR92eeMPH99rxkDUIR9yAbXZIDUJiF90Wce7CeqQPTqrRriNzVq8kxN-/pubhtml?widget=true&amp;headers=false"></iframe>
            </div>
        </div>
</section>
