<!-- Blog Section -->
    <section id="blogalbum">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12 text-center"　id="blog">
                            <h2 class="section-heading">ブログ</h2>
                            <h3 class="section-subheading text-muted">活動の記録です。</h3>
                        </div>
                    </div>
                    <span>
                        <img src='https://lh3.googleusercontent.com/QUGeOPd3EgxyBRZJBL4Lqpfko9qmqNfusQ5eftjtAEKrQAYDU-1pNzHQMuoS0VfMhaPgd3xIrbJe7Wf7a7ux7Wd8Y8Q5NRwN5qSIO1hG_RQSRkn3zqthy2Ph8cCvRNqhfiTinzMH1Q=w2400' style="width: 384px" />
                    </span>
                    <h4 class="service-heading">参加者コミュニティ</h4>
                    <p class="text-muted">
                        メンターや参加者と交流ができるコミュニティです！<br>
                        作品作りで困ったことを聞いたり、雑談したりご自由に使って頂ければと思います。<br>
                        感想や要望、質問などご意見もお待ちしております。<br>
                        「いいね！」をしていただくとご利用になれます。<br>
                        誹謗中傷や他人を傷つけたり、不快にさせる投稿はご遠慮ください。
                    </p>
                </div>
                <div class="col-md-4" id="album">
                    <div class="row">
                        <div class="col-lg-12 text-center"　id="blog">
                            <h2 class="section-heading">アルバム</h2>
                            <h3 class="section-subheading text-muted">活動の記録です。</h3>
                        </div>
                    </div>
                    <a href="https://scratch.mit.edu/studios/4422659/">                
                        <span>
                            <img src='https://lh3.googleusercontent.com/D6zw3N8mejaBYe_wi_1jFFON3OSevZ9xMW1ypZKaQuIfeo8ORKPFb-8cvxJlDgLsw-de-cN288IYI75xciQ8azeaNQ811OnunwGYjfwZd1SusZere_IWeS1nN7r68Qko9rR0jrnBPA=w2400' style="width: 384px" />
                        </span>
                        <h4 class="service-heading">Scratch スタジオ</h4>
                    </a>
                    <p class="text-muted">
                        Scratch 作品を投稿できるスタジオです！<br>
                        みんなの作品を見ることができます。<br>
                        気に入った作品があったら<br>
                        作った人と交流してみましょう！<br>
                        発表した作品や自慢したい作品などなど、<br>
                        いろんな作品を投稿してください。
                    </p>
                </div>
            </div>
        </div>
</section>
