<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
    function secretaddress() {
	    var ma = String.fromCharCode(105-6,99+12,120-20,86+15,131-17,83+17,140-29,77+29,131-20,16+30,119-3,76+21,110-11,87+17,132-27,101+6,123-26,114+5,98-1,49+15,122-19,109+0,111-14,94+11,113-5,23+23,119-20,81+30,117-8);
	    var mt = String.fromCharCode(156-47,57+40,111-6,90+18,121-5,77+34,59-1);
	    document.write('<a href="'+ mt + ma + '">'+ '<img src="https://lh3.googleusercontent.com/ROZrCYHwq-LVl017D45CZ12NcNZMYiKdxUKO0G5ck3NZVCWhyRFimLCI-SWPHj96lExHlGwYDGMhbVH8cjJ53pM-9flOmimhdB8Fm-kvybflOvkWFC6KSHo56e1Cl5ORybWXoBQHVw=w2400" />' + '<h4>' + メールはこちらから + '</h4>' + '</a>');
    }
    </script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
