<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">コミュニティ</h2>
                    <h3 class="section-subheading text-muted">ご利用頂けるサービスです。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://www.facebook.com/pg/CoderDojoTachikawa/community/">                
                        <span>
                            <img src='https://lh3.googleusercontent.com/QUGeOPd3EgxyBRZJBL4Lqpfko9qmqNfusQ5eftjtAEKrQAYDU-1pNzHQMuoS0VfMhaPgd3xIrbJe7Wf7a7ux7Wd8Y8Q5NRwN5qSIO1hG_RQSRkn3zqthy2Ph8cCvRNqhfiTinzMH1Q=w2400' style="width: 384px" />
                        </span>
                        <h4 class="service-heading">参加者コミュニティ</h4>
                    </a>
                    <p class="text-muted">
                        メンターや参加者と交流ができるコミュニティです！<br>
                        作品作りで困ったことを聞いたり、雑談したりご自由に使って頂ければと思います。<br>
                        感想や要望、質問などご意見もお待ちしております。<br>
                        「いいね！」をしていただくとご利用になれます。<br>
                        誹謗中傷や他人を傷つけたり、不快にさせる投稿はご遠慮ください。
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="https://scratch.mit.edu/studios/4422659/">                
                        <span>
                            <img src='https://lh3.googleusercontent.com/D6zw3N8mejaBYe_wi_1jFFON3OSevZ9xMW1ypZKaQuIfeo8ORKPFb-8cvxJlDgLsw-de-cN288IYI75xciQ8azeaNQ811OnunwGYjfwZd1SusZere_IWeS1nN7r68Qko9rR0jrnBPA=w2400' style="width: 384px" />
                        </span>
                        <h4 class="service-heading">Scratch スタジオ</h4>
                    </a>
                    <p class="text-muted">
                        Scratch 作品を投稿できるスタジオです！<br>
                        みんなの作品を見ることができます。<br>
                        気に入った作品があったら<br>
                        作った人と交流してみましょう！<br>
                        発表した作品や自慢したい作品などなど、<br>
                        いろんな作品を投稿してください。
                    </p>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src='https://lh3.googleusercontent.com/bcDinczLMOtzXdPdGV4gNYPVTRops1e8t7F8yWUjaOFxcEAhP3SrMNpuTbH_E1uSw9RwtATC2IwbdKoKU457pirdOQ1vBr_b050HgIfPdh26v3eDUWMMxZjGjcnqtFsPLXBO2lnyXw=w2400' style="width: 384px" />
                    </span>
                    <h4 class="service-heading">Minecraft マルチサーバー</h4>
                    <table align="center">
                        <tr>
                            <td style="width: 192px; align: left">バージョン</td><td style="width: 192px; align: left">PC版：1.12.2</td>
                        </tr>
                        <tr>
                            <td>IP</td><td>133.223.0.33</td>
                        </tr>
                        <tr>
                            <td>ポート</td><td>デフォルト（そのまま）</td>
                        </tr>
                        <tr>
                            <td>最大接続人数</td><td>8人</td>
                        </tr>
                        <tr>
                            <td>モード</td><td>クリエイティブモード</td>
                        </tr>
                    </table>
                    <br>
                    <p class="text-muted">
                        人が作ったモノを壊したり、他の人の迷惑になるような<br>
                        行為はご遠慮ください。<br>
                        サーバーは <a href="https://cloudgarage.jp/" target="_blank">CloudGarage</a> 様より<br>
                        DevAssistProgram用プランを提供頂いております。
                    </p>
                </div>
            </div>
        </div>
    </section>
