<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src='https://lh3.googleusercontent.com/lwZHYi2IBDD1CCGlozuOOx8W3a3Vq0h3KNnJkZ4To4DcZ9Q0LjeGUYWpthUwO7dxEd_gkJqk1A-kxv_xodU_PmdfvXhJetSZ7sVLLZli4ghHKCW4Z655Tq9iF7jpR-lIoa3DON0SPw=w2400' style="width: 384px" />
                    </span>
                    <h4 class="service-heading">Minecraft マルチサーバー</h4>
                    
                    <table align="center">
                        <tr>
                            <td style="width: 128px; align: left">バージョン</td><td style="width: 256px; align: left">1.12.2</td>
                        </tr>
                        <tr>
                            <td>IP</td><td>133.223.0.33</td>
                        </tr>
                        <tr>
                            <td>ポート</td><td>デフォルト（そのまま）</td>
                        </tr>
                        <tr>
                            <td>最大接続人数</td><td>8人</td>
                        </tr>
                        <tr>
                            <td>モード</td><td>クリエイティブモード</td>
                        </tr>
                    </table>
                    <br>
                    <p class="text-muted">サーバーは <a href="https://cloudgarage.jp/" target="_blank">CloudGarage</a> 様より<br>DevAssistProgram用プランを提供頂いております。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
