<!-- Work Section -->
    <section id="work" style='margin: 0 auto;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">活動内容</h2>
                    <h3 class="section-subheading text-muted">私達の活動についてご紹介します。</h3>
                </div>
            </div>
            <div class='row'>
                <h4>CoderDojo とは</h4>
                <div class='col-md-4'>
                    <img src='https://lh3.googleusercontent.com/J3byHpDT3zBBpIgmTJgPtTFaPWwyir6-SuF2qKa0J_jgWr4cpEUk5427X16Vah-QXpxVnLoVC7BliACVHz4SVueAiFSOVPuDEKBsK3gvmtt-REGEP-QzmB8jN4bNVbE4eh9H-xfGDQ=w2400'  style='width: 90%; max-width: 384px;' />
                    <p class='text-muted'>
                        CoderDojo は7〜17歳の子どもを対象にしたプログラミング道場です。2011年にアイルランドで始まり、世界では85カ国・1,600の道場、日本では全国に138以上の道場があります。（2018年05月 現在）<br>
                        詳しくは<a href='https://coderdojo.jp/'>CoderDojo Japan</a>を参照してください。
                    </p>
                </div>
                <div class='col-md-4'>
                    <img src='https://lh3.googleusercontent.com/uogAVg1_60HvT7CNLOv1pmM0Sm25e6SxXK8Krwy3F_sm1Z7OJuHCvTgwIy31P7Efq32VaWuQVRdhvowpEM09E60UE1k4SCV1FmloqG667IcrgmJ7vYlmiI7DCl3Z42h8nuEQk8KqzQ=w2400'  style='width: 90%; max-width: 384px;' />
                    <p class='text-muted' style='vertical-align: middle;'>
                        CoderDojo では共通して、参加する子どもを 「ニンジャ」 と呼んでいます。<br>
                        また、参加しているスタッフを「メンター」と呼んでいます。"先生"ではありません。
                    </p>
                </div>
            </div>
            <div class='row'>
                <br>
                <iframe allowfullscreen="true" marginheight="0" marginwidth="0" mozallowfullscreen="true" scrolling="no" src="https://docs.google.com/presentation/d/e/2PACX-1vTukDtBzvD62d9rNLBY1kXp8arXJBnB-Lq6YWSW5oZXoeokGLscob1HNYzmD7mIIxhkoQyCJVoFAFvh/embed?start=false&amp;loop=false" webkitallowfullscreen="true" style='width: 90%; max-width: 800px; height: 450px;' frameborder="0"></iframe>
                <br>
            </div>
            <div class='row'>
                <h4>CoderDojo 立川 について</h4>
                <p class='text-muted'>
                    プログラミングに興味のあるニンジャが集まれる場所をつくるボランティア団体です。
                    楽しくモノづくりを学べる場を提供します。<br>
                    「やりたい」「作りたい」「楽しみたい」という気持ちを大事にし、作品作りの支援を行います。<br>
                    ニンジャの自主性を育てるため、"正解"を教えるのではなく、分からないことを一緒に考えて自分で解決できるように導いています。<br>
                    また、ニンジャ同士で教え合ってもらうなど、交流にも積極的に取り組んでいます。
                </p>
                <img src='https://lh3.googleusercontent.com/53hKvKeyPIQ-T4GTxzTNfjJxdndlmz1n_0jBSgvx9To2m5EQR53OSZTuOUTYPNg6eHI6B96gXNb8M4oj_XEUemBplEWzryif1yZIRGI8LkWc_zZE5x2J5GWMuElnkFigMivEeaVEnw=w2400' style='width: 90%; max-width: 800px;' />
                <p class='text-muted' style='margin-top: 40px;'>
                    プログラミングが初めてという方や、よく分からないといった方も歓迎しています！<br>
                    お気軽にご参加ください。
                </p>
                <iframe  style='width: 90%; max-width: 800px; height: 450px;' src="https://www.youtube.com/embed/oUfskMVUSPE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class='row' style='margin-top: 40px;'>
                <div class='col-md-4'>
                   <h4 class="service-heading">開催概要</h4>
                   <table>
                       <tr><th style='width: 80px;'>参加費</th><td><p class="text-muted">無料</p></td></tr>
                       <tr><th>日時</th><td><p class="text-muted">毎月 第３日曜日 午前中</p></td></tr>
                   </table>
                   <p class="text-muted" style='margin-top: 10px;'>※都合により、この限りではありません。</p>
                </div>
                <div class='col-md-4'>
                    <h4 class="service-heading">会場情報①</h4>
                    <img src='https://lh3.googleusercontent.com/gFaR3-bHuXfWXYuv3v4BI3UzdzqXZx2mePLn7JIH9DLAPuRisZbBZAQFwdK2PNNPKScn24Z0j7Ds9dusXRee5q_dhHUHJBb0LNB2yrJabhLNF1xTiX_WStIaT_SfGW7nNwR8L5aQQQ=w2400' style='width: 90%; max-width: 384px;' />
                    <table style='margin-top: 10px;'>
                        <tr><th style='width: 80px;'>会場</th><td><a href='http://t-mirai.com/'>立川市子ども未来センター</a></td></tr>
                        <tr><th>住所</tH><td><p class="text-muted">東京都立川市錦町3丁目2番26号</p></td></tr>
                    </table>
                    <p class="text-muted">※会場は変わる場合があります。</p>
                </div>
                <div class='col-md-4'>
                    <h4 class="service-heading">会場情報②</h4>
                    <img src='' style='width: 90%; max-width: 384px;' />
                    <table style='margin-top: 10px;'>
                        <tr><th style='width: 80px;'>会場</th><td><a href='http://miraipark.net/'>たまがわ・みらいパーク</a></td></tr>
                        <tr><th>住所</tH><td><p class="text-muted">東京都立川市富士見町6丁目46番1号</p></td></tr>
                    </table>
                    <p class="text-muted">※会場は変わる場合があります。</p>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.307725086967!2d139.41739731472973!3d35.694044336877525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e16242009271%3A0x247a9d16737df0de!2z56uL5bed5biC5a2Q44Gp44KC5pyq5p2l44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1509674748919" width="90%" height="480" frameborder="0" style="border:0; margin-top: 40px;" allowfullscreen></iframe>
        </div>
</section>
