<!DOCTYPE html>
<html lang="jp_JP">
  
<head> 
  <title>CoderDojo Tachikawa</title>

  <link rel="stylesheet" href="{{ '/assets/libs/fontawesome-5.9.0/css/all.min.css' | relative_url }}" media="screen" type="text/css">
  <link rel="stylesheet" href="/style.css">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/assets/js/moment.js"></script>
  <script type="text/javascript" src="/assets/js/connpass-api.js"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- <link rel="stylesheet" href="/assets/main.css"> -->
  <!-- <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="Your awesome title" /> -->
</head>

<body>
  <section class="pan-layout">
    {% include left.html %}
    <section class="pan-layout-overlay"></section>
    <section class="pan-layout-right">
      {% include header.html %}
      <section class="pan-layout-content">        
        {{ content }}        
      </section>
      {% include footer.html %}
    </section>
  </section>

  {% if site.google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>

</html>